---
const { mobileImage, tabletImage, xlImage, heroTitle, heroSpan, heroSubtitle } =
  Astro.props;
const currentPath = Astro.url.pathname;

// Diccionario de rutas a nombres legibles
const routeTitles = {
  "/lady-style-elche": "Lady Style en Elche",
  "/bachata-en-pareja-elche": "Bachata en Pareja en Elche",
  "/salsa-elche": "Salsa en Elche",
};

const readableTitle = routeTitles[currentPath] ?? "vuestras clases";
const encodedMessage = encodeURIComponent(
  `Hola, quiero más información sobre ${readableTitle}`,
);
const whatsappLink = `https://wa.me/34645089122?text=${encodedMessage}`;
---

<section
  id="hero"
  aria-label="Sección de bienvenida"
  role="banner"
  class="relative h-screen w-full flex flex-col items-end md:items-center justify-center md:justify-center text-center overflow-hidden"
>
  <!-- Fondo degradado superior a inferior -->
  <div
    class="absolute inset-0 bg-gradient-to-b from-[#1c1c23] via-[#1c1c23] to-[#0d0d11] z-0"
  >
  </div>

  <!-- Imagen fondo móvil -->
  <div
    class="absolute inset-0 h-full w-full bg-no-repeat bg-center bg-cover z-0 md:hidden pointer-events-none"
    style={`background-image: url('${mobileImage}')`}
  >
  </div>
  <div
    class="absolute inset-0 h-full w-full bg-no-repeat bg-center bg-cover z-0 hidden md:block xl:hidden pointer-events-none"
    style={`background-image: url('${tabletImage}')`}
  >
  </div>
  <div
    class="absolute inset-0 h-full w-full bg-no-repeat bg-center bg-cover z-0 hidden xl:block pointer-events-none"
    style={`background-image: url('${xlImage}')`}
  >
  </div>

  <!-- Texto centrado superpuesto -->
  <div
    class="relative z-20 max-w-4xl pt-4 md:py-3 py-10 mt-24 md:mt-40 px-6 md:px-0 text-center
           bg-black/40 rounded-xl -mb-8 md:mb-0 md:-translate-y-6 transition-all duration-300"
  >
    <h1
      class="text-4xl md:text-7xl font-extrabold text-white tracking-wide uppercase"
    >
      {heroTitle}
      <span
        class="bg-gradient-to-r from-pink-400 via-pink-600 to-pink-500 bg-clip-text text-transparent"
      >
        {heroSpan}
      </span>
    </h1>
    <p class="text-md md:text-2xl text-white mb-8 max-w-2xl mx-auto">
      {heroSubtitle}
    </p>

    <a
      href={whatsappLink}
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block bg-gradient-to-r from-pink-500 via-pink-600 to-pink-700
         text-white text-lg font-medium py-5 px-6 rounded-full shadow-md
         transition-transform duration-300 ease-in-out hover:scale-110 hover:shadow-xl
         hover:brightness-110 focus:outline-none focus:ring-2 focus:ring-pink-400/60"
    >
      ¡Reserva tu clase con nosotros!
    </a>
  </div>

  <!-- Sombra inferior para fade al contenido -->
  <div
    class="absolute bottom-0 w-full h-20 bg-gradient-to-t from-[#0d0d11] to-transparent z-10 pointer-events-none"
  >
  </div>
</section>
