---
// Define colors
type ColorType = "freshEggplant" | "freshPeach";
let pageColor: ColorType = "freshEggplant";

if (Astro.url.pathname.includes("lady-style")) pageColor = "freshEggplant";
else if (Astro.url.pathname.includes("bachata-y-salsa-en-pareja-elche"))
  pageColor = "freshPeach";
else pageColor = "freshEggplant";

let partners = [
  {
    image: "/dairen.webp",
    alt: "Academia de baile DAIREN Elche",
    location: {
      name: "Elche",
      url: "https://maps.app.goo.gl/16UnuAExaLCYFaWU8",
      profesorado: "Juan Carlos y Luna - The Latin Action SB company",
    },
  },
  {
    image: "/bubaloo.webp",
    alt: "Bubaloo Academia de baile Elche",
    location: {
      name: "Elche",
      url: "https://maps.app.goo.gl/16UnuAExaLCYFaWU8",
      profesorado: "Juan Carlos y Luna - The Latin Action SB company",
    },
  },
  {
    image: "/nvfit.png",
    alt: "⏳ NVFit Novelda",
    location: {
      name: "Novelda",
      url: "https://maps.app.goo.gl/mgu7ZQAdGUk6xHcDA",
      profesorado: "Juan Carlos y Luna - The Latin Action SB company",
    },
  },
  {
    image: "/virginia.jpg",
    alt: "⏳ Virginia Domenech - Vivir es bailar",
    location: {
      name: "Elda",
      url: "https://maps.app.goo.gl/89nE61n4d95nZ24Y6",
      profesorado: "Juan Carlos y Luna - The Latin Action SB company",
    },
  },
];

const colorClasses = {
  freshEggplant: {
    textTitle: "text-freshEggplant-200",
    textItem: "text-freshEggplant-300",
    textSubItem: "text-freshEggplant-400",
    shadowHover: "hover:shadow-freshEggplant-800/90",
    linkHover: "hover:text-freshEggplant-100",
  },
  freshPeach: {
    textTitle: "text-freshPeach-200",
    textItem: "text-freshPeach-300",
    textSubItem: "text-freshPeach-400",
    shadowHover: "hover:shadow-freshPeach-800/90",
    linkHover: "hover:text-freshPeach-100",
  },
};
---

<section class="flex flex-col items-center justify-center py-16 relative z-10">
  <h2
    class={`text-4xl md:text-5xl mb-14 px-6 text-center tracking-tight ${colorClasses[pageColor].textTitle}`}
  >
    Nuestros Socios
  </h2>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 max-w-5xl w-full px-4"
  >
    {
      partners.map((partner, index) => (
        <div
          class={`flex flex-col items-center justify-center p-6 rounded-2xl bg-[#27272a] backdrop-blur-xl shadow-lg ${colorClasses[pageColor].shadowHover} transition-shadow duration-300`}
          title={partner.alt}
        >
          <div class="w-28 h-28 rounded-full overflow-hidden border-4 border-white shadow-md group-hover:shadow-xl transition-all duration-300">
            <img
              src={partner.image}
              alt={`Imagen de ${partner.alt}`}
              class="object-cover w-full h-full bg-white"
              width="112"
              height="112"
              loading={index === 0 ? "eager" : "lazy"}
              decoding="async"
              draggable="false"
            />
          </div>
          <p
            class={`mt-4 ${colorClasses[pageColor].textTitle} text-lg font-semibold text-center`}
          >
            {partner.alt}
          </p>

          <p class={`text-sm ${colorClasses[pageColor].textItem} mt-1`}>
            {partner.location.profesorado
              ? `Profesorado: ${partner.location.profesorado}`
              : ""}
          </p>
          <p class={`text-sm ${colorClasses[pageColor].textSubItem} mt-1`}>
            Ubicación:{" "}
            <a
              href={partner.location.url}
              target="_blank"
              rel="noopener noreferrer"
              class={`underline ${colorClasses[pageColor].linkHover}`}
            >
              {partner.location.name}
            </a>
          </p>
        </div>
      ))
    }
  </div>
</section>
