---
import { theme } from "../pages/theme.js";

let schedule = [
  {
    day: "Lunes",
    slots: [
      {
        time: "20:30 - 21:30",
        class: "Bachata Lady Style - Academia Dairen",
        ageRange: "Adultos (18+)",
        location: {
          name: "Academia Dairen, Elche",
          url: "https://maps.app.goo.gl/16UnuAExaLCYFaWU8",
        },
      },
    ],
  },
  {
    day: "Miércoles",
    slots: [
      {
        time: "20:00 - 21:15",
        class: "Bachata Lady Style Coreográfico - Academia Dairen",
        ageRange: "Adultos (18+)",
        location: {
          name: "Academia Dairen, Elche",
          url: "https://maps.app.goo.gl/16UnuAExaLCYFaWU8",
        },
      },
    ],
  },
  {
    day: "Sábados",
    slots: [
      {
        time: "16:30 - 17:30",
        class: "Bachata Lady Style Kids - Academia Dairen",
        ageRange: "Niños (6-16 años)",
        location: {
          name: "Academia Dairen, Elche",
          url: "https://maps.app.goo.gl/16UnuAExaLCYFaWU8",
        },
      },
    ],
  },
];
---

<section class="flex flex-col items-center justify-center py-8">
  <h2Q
    class="text-3xl font-extrabold mb-8 px-6"
    style={`color: ${theme.schedule.titleColor};`}
  >
    Horarios de Clases
  </h2Q>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-4xl px-4"
  >
    {
      schedule.map((item) => (
        <div class="p-6 rounded-lg shadow-md transition-all duration-300 bg-white/10 backdrop-blur-md text-white/50 hover:bg-[#496080]/20">
          <h3
            class="text-xl font-semibold border-b-2 pb-2 mb-4"
            style={`color: ${theme.common.slotTextColor}; border-bottom-color: ${theme.common.borderColor};`}
          >
            {item.day}
          </h3>
          {item.slots.map((slot) => (
            <div class="mt-4">
              <p
                class="text-lg font-bold"
                style={`color: ${theme.common.slotTextBoldColor};`}
              >
                {slot.time}
              </p>
              <p class="text-sm" style={`color: ${theme.common.textColor};`}>
                {slot.class}
              </p>
              <p class="text-sm italic text-white/40 mt-1">
                Edad: {slot.ageRange}
              </p>
              <p class="text-sm italic text-white/40">
                Lugar:{" "}
                <a
                  href={slot.location.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="underline hover:text-[#ff004d]"
                >
                  {slot.location.name}
                </a>
              </p>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</section>

<style>
  section {
    overflow: hidden;
  }

  div:hover {
    cursor: pointer;
  }
</style>
